

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: 'ProximaNova';
	font-weight: 200;
	src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: 400;
	src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: 600;
	src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: 800;
	src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
}

body {
	font-family: 'ProximaNova', Helvetica, Sans-Serif;
}

#main, #main-onboarding {
	margin-top: 64px;
	!border: 1px solid #f1f1f1;
}
#main-onboarding {
	text-align: center;
}
#onboarding-header {
	margin-top: 40px;
	margin-bottom: 40px;
}
#main-onboarding h3 {
	font-size: 32px;
	color: rgba(0,0,0,.87);
}
#main-onboarding p {
	font-size: 20px;
	color: rgba(0,0,0,.54);
	font-weight: 200;
}
#main-onboarding a {
	color: rgba(82,211,33,1);
}

#main-onboarding .jumbotron {
	margin-top: 20px;
	border: 1px dashed #dddddd;

}
#main-onboarding .jumbotron p {
	font-size: 16px;
	font-weight: 400;
}
#main-onboarding button {
	width: 200px;
}

#main h3 {
	font-size: 24px;
}

#main-onboarding textarea {
	margin-bottom: 20px;
}

#main-onboarding label {
	text-align: left;
	float: left
}

.tag {
	font-weight: 600;
	color: #3AA5FF;
}

.green-text {
	color: rgba(75,197,153,.65);
	font-weight: 800;
}

#tags {
	margin-top: 20px;
	margin-bottom: 20px;
}

#tags button {
	margin-right: 5px;
}

#paperwork i, #documents i {
	color: rgba(75,197,153,.65);;
}

#paperwork, #documents {
	margin-top: 40px;
	margin-bottom: 40px;
}

.paperwork-row, .documents-row {
	padding: 10px;
}
.paperwork-row:hover, .documents-row:hover {
	background-color: #f8f8f8;
}
.paperwork-row p, .documents-row p {
	margin: 0;
}
#paperwork .paperwork-row i, #documents .documents-row i {
	color: rgba(0,0,0,.24);
}

.row-completion {
	font-weight: 600;
	margin-right: 20px;
	display: inline-block;
	width: 40px;
	text-align: right;
	color: rgba(0,0,0,.44);

}

.progress-bar {
	width: 120px;
	height: 2px;
	background-color: rgba(75,197,153,.65);
	box-shadow: none;
	margin-top: 7px;
	margin-right: 5px;
}

